body{
    margin: 0;
}

.container{
    width: 70%;
    margin: auto; 
}

nav{
    background: lightblue;
    overflow: hidden;
}

nav .logo{
    font-size: 30px;
    float: left;
}

nav ul{
    float: right;
    padding-top: 25px;
}

nav ul li{
   display: inline;
   margin-left: 20px;
   text-decoration: none;
}

nav a{
    text-decoration: none;
    color: black;
}

header{
    background: url(leone-venter-VieM9BdZKFo-unsplash.jpg) no-repeat center top fixed;
    background-size: cover;
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 100px;
}

h1{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

aside{
   float: right;
   margin-top: 200px;
   margin-right: 20px;
   margin-left: 100px;
   overflow: hidden;
}

section{
    margin-bottom: 50px;
}


img{
    float: left;
}

pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    margin-right: 200px;
    padding: 20px;
}

footer{
    background: black;
    margin-top: 100px;
    padding: 10px;
}

footer p{
    color: white;
    text-align: center;
}
 